@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  margin: 0;
  font-size: 12px;
  
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #ebebeb
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

input {
  font-family: inherit;
}


.main-header {
  padding: 15px 0;
  background-color: #EAC926;
}

.main-header_home-link,
.main-header_credit-link {
  display: block;
}

.main-header_credit-link {
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form_input {
  border: solid 1px #ebebeb;
  display: block;
  width: 100%;
  padding: 7px 35px 7px 7px;
  border-radius: 3px;
  height: 40px;
  font-size: 20px;
}

.search-form_button {
  position: absolute;
  right: 2px;
  height: 60%;
  background-color: #ffffff;
  border: none;
  border-left: solid 1px #ebebeb;
  color:#666666;
  cursor: pointer;
}


.banner {
  background-image: url(/images/img-home-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100px;
}



.products-title {
  font-size: 24px;
  color: #666666;
}

.product-box {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.product-box a {
  display: block;
}

.product-box_image {
  border-bottom: 1px solid #ebebeb;
}

.product-box_data {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-box_data h2 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
}



.product-box_data p {
  font-size: 1.5em;
  width: 100%;
  color: #666666;
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: #39b54a;
  width: 35px;
  height: 35px;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 30px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}


.product-box:hover p{
  height: 40px;
  margin-top: 15px;
}


/* Footer */
.main-footer {
  background-color: #ffffff;
  padding: 20px 0;
  margin-top: 80px;
}

.footer-data {
  text-align: center;
}

.footer-data i {
  
  font-size: 20px;
}

.footer-data h2 {
  color: #666666;
  font-size: 2.4em;
  font-weight: 400;
}

.footer-data p {
  color: #666666;
  font-size: 1.5em;
  font-weight: 300;
}

.sub-footer {
  border-top: 1px solid #ebebeb;
  background-color: #ffffff;
}

.sub-footer p {
  margin: 0;
  color: #666666;
  padding: 15px 0;
}

@media (min-width: 768px) {
  .main-header_credit-link {
    margin-top: 0;
    text-align: right;
  }

  .banner {
    height: 320px;
  }

  .btn-toggle-navbar {
    display: none;
  }

  .main-navbar,
  .left-navbar,
  .right-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .left-navbar a,
  .right-navbar a {
    border-bottom: none;
  }


  .left-navbar li {
    margin-right: 15px;
  }
  
  .right-navbar li {
    margin-left: 15px;
  }

  .main-footer {
    padding: 40px 0;
  }

  .footer-data {
    width: 95%;
    margin: auto;
  }
}